
/* Estilo para el fondo de la página */
body::before {
    content: "Suncyn Velas"; /* Texto que deseas mostrar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo con transparencia */
    color: #000; /* Color del texto */
    font-size: 36px; /* Tamaño de fuente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Coloca el fondo detrás de todos los demás elementos */
}


/* Estilo del encabezado */
header {
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Texto negro */
    padding: 20px 0;
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content: space-between; /* Alinea elementos en ambos extremos */
    align-items: center; /* Alinea verticalmente los elementos */
    padding-left: 40px; /* Agregamos un margen izquierdo de 40px */
}

/* Estilo para el logotipo */
.logo {
    margin-left: 20px; /* Separa la imagen del logotipo de la izquierda */
}

.logo img {
    max-width: 150px; /* Establece el ancho máximo del logotipo */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    margin-right: 30px; /* Agrega un espacio entre el logotipo y los elementos de navegación */
}

/* Estilo del menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Utilizamos flexbox para crear un menú horizontal */
    justify-content: center; /* Centra los elementos del menú horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos del menú */
}

nav ul li {
    margin-right: 100px;
}

nav ul li a {
    color: #000; /* Texto negro */
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}


/* Resto de estilos... */


/* Estilo de las secciones */
section {
    padding: 40px;
    text-align: center;
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo de la sección de inicio con video de fondo */
#inicio {
    position: relative;
    overflow: hidden;
    padding: 8% 0;
    font-family: 'Croissant One', sans-serif;
}

#inicio video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#inicio .contenido {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 25% 0;
    font-family: 'Croissant One', sans-serif;
}

#inicio h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

#inicio p {
    font-size: 20px;
    margin-bottom: 40px;
}

/* Estilo de la sección "Nosotros" */
#nosotros {
    text-align: center;
    padding: 40px;
}

.titulo-nosotros {
    text-align: center;
    font-size: 36px; /* Tamaño de letra del título "Nosotros" */
    margin-bottom: 20px; /* Espacio inferior */
    font-family: 'TuFuentePersonalizada', sans-serif; /* Cambia 'TuFuentePersonalizada' por la fuente que prefieras */
}

.columnas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.columna {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.titulo-parrafo {
    font-size: 24px; /* Tamaño de letra para los títulos de los párrafos */
    font-family: 'TuFuentePersonalizada', sans-serif; /* Cambia 'TuFuentePersonalizada' por la fuente que prefieras */
}

.parrafo-nosotros {
    font-size: 18px; /* Tamaño de letra para los párrafos en "Nosotros" */
    font-family: 'Croissant One', sans-serif; /* Cambia 'TuFuentePersonalizada' por la fuente que prefieras */
}




/* Estilo de la sección de Productos */
#productos {
    padding: 40px;
    text-align: center;
}

#productos h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.producto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Espacio entre temporadas */
}

.item {
    flex-basis: calc(25% - 20px); /* Establece el ancho de cada temporada y considera el espacio entre ellas */
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item h3 {
    font-size: 20px;
    margin-top: 10px;
}

.item p {
    font-size: 16px;
    margin-top: 10px;
}



/* Agrega estilos adicionales según tus preferencias */
/* Estilo para la sección Artesanal */
/* Estilo para la sección Artesanal */
.imagenes-artesanales {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagen-artesanal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.imagen-artesanal img {
    flex: 1; /* Todas las imágenes ocuparán la misma cantidad de espacio */
    max-height: 40vh;
    object-fit: cover;
    display: block;
}

/* Estilo específico para la imagen pequeña */





form {
    margin-top: 20px;
    max-width: 300px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


/* Estilo de la sección de Contacto */
#contacto {
    padding: 40px;
    text-align: center;
}

#contacto h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que las secciones se ajusten en varias filas si no caben en el ancho de la pantalla */
    gap: 10px; /* Espacio entre las secciones de contacto */
}

.red-social {
    flex-basis: calc(20% - 10px); /* Ajusta el ancho de cada sección y considera el espacio entre ellas */
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.red-social img {
    max-width: 60px; /* Tamaño máximo para las imágenes de las redes sociales */
}

.red-social p {
    font-size: 14px; /* Reduce el tamaño de la fuente */
    margin-top: 5px; /* Espacio superior entre el ícono y el texto */
}

form {
    margin-top: 20px;
    max-width: 300px;
    margin: 0 auto;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Otros estilos adicionales según tus preferencias */


/* Estilo para el footer */
/* Estilo para el footer */
#colophon {
    background-color: #333; /* Cambia el color de fondo a tu preferencia */
    color: #fff; /* Cambia el color del texto a tu preferencia */
    text-align: center;
    padding: 20px 0;
}

/* Estilo para el enlace dentro del footer */
#colophon a {
    color: #fff; /* Cambia el color del enlace a tu preferencia */
    text-decoration: none;
    font-weight: bold;
}

#colophon a:hover {
    text-decoration: underline; /* Cambia el estilo de subrayado en el hover del enlace si lo deseas */
}

/* Estilo para el texto del footer */
#colophon .footer-text {
    font-size: 16px; /* Ajusta el tamaño de fuente del texto */
    margin-top: 10px; /* Espacio superior entre las líneas de texto */
}

/* Estilo para el enlace del desarrollador */
#colophon .footer-text a {
    color: #fff; /* Cambia el color del enlace del desarrollador a tu preferencia */
    text-decoration: none;
}

#colophon .footer-text a:hover {
    text-decoration: underline; /* Cambia el estilo de subrayado en el hover del enlace si lo deseas */
}


